{{ define "body-class" }}selected-bg{{ end  }}

{{ define "header" }}
<header>
  <nav>
    <a href="/selected-works/">Selected Works</a>
    <a href="/info/">Information</a>
  </nav>

  <div class="logo">
    <a href="/">
      <img src="/images/etched-logo.svg" alt="Etched Projects" />
    </a>
  </div>
</header>
{{ end }}

{{ define "main" }}
<main>
  <div class="selected-line-container">
    <div class="selected-line"></div>
  </div>

  <section class="container selected selected-work-list">
    {{ range .Pages.GroupByParam "category" }}

    <h3>{{ .Key }}</h3>

    <ul>
      {{ range .Pages }}
      <li><a class="selected-work" data-selected-work="{{ .File.UniqueID }}" href="{{.Permalink}}">{{.Title}}</a></li>
      {{ end }}
    </ul>

    {{ end }}
  </section>

  <div class="description-list">
    {{ range .Pages }}
    <p style="display:none" class="description fadein" data-selected-work="{{ .File.UniqueID }}">{{ .Description }}</p>
    {{ end }}
  </div>

  <script src="/js/selected-work-list.js"></script>

</main>
{{ end }}
