{{ define "body-class" }}selected-bg{{ end  }}

{{ define "header" }}
<header>
  <nav>
    <a href="/selected-works/">Selected Works</a>
    <a href="/info/">Information</a>
  </nav>

  <div class="logo">
    <a href="/">
      <img src="/images/etched-logo.svg" alt="Etched Projects" />
    </a>
  </div>
</header>
{{ end }}

{{ define "main" }}
<main>
  <div class="selected-line-container">
    <div class="selected-line"></div>
  </div>

  <section class="container selected">

    {{ range .Pages.GroupByParam "category" }}

    <h3>{{ .Key }}</h3>

    <ul>
      {{ range .Pages }}
      <li><a href="{{.Permalink}}">{{.Title}}</a></li>
      {{ end }}
    </ul>

    {{ end }}
  </section>
  <div class="description">
    <p>Insert a beautiful little description here about Raglan.</p>
  </div>
</main>
{{ end }}