{{ define "header" }}
{{ partial "header" (dict "context" . "class" "project") }}
{{ end }}

{{ define "main" }}
<main>

  <section>
    <div></div>
    <h2 class="title">{{ .Title }}</h2>
    <div class="container">
      {{ .Content }}
      <div class="details">
        <p>Year: {{ .Params.year }}</p>
        <p>Client: {{ .Params.client }}</p>

        {{ if (isset .Params "collaborators") }}
        <p>Collaborators: {{ .Params.collaborators }}</p>
        {{ end }}
      </div>
    </div>

    {{ partial "gallery" .Params.gallery }}

  </section>

</main>
<script src="/js/project.js"></script>

{{ end }}
