{{ define "header" }}
{{ partial "header" (dict "context" . "class" "project") }}
{{ end }}

{{ define "main" }}

{{ $orderedRefs := slice }}
{{ range .Parent.Params.categories }}
{{ range .references }}
{{ $orderedRefs = $orderedRefs | append (slice .) }}
{{ end }}
{{ end }}

{{ $linkTo := slice }}
{{ $shiftedOrderedRefs := (after 1 $orderedRefs) | append (index $orderedRefs 1) }}
{{ range $index, $current := $orderedRefs }}
{{ $next := index $shiftedOrderedRefs $index }}
{{ $linkTo = $linkTo | append (slice (dict "current" $current "next" $next)) }}
{{ end }}

{{ $nextProjectRef := index (where $linkTo "current" .File.Path) 0 }}

<main>

  <section>
    <div></div>
    <h2 class="title">{{ .Title | markdownify }}</h2>
    <div class="container project-container">
      <p>{{ .Params.body | markdownify }}</p>
      <div class="details">
        {{ if .Params.client }}
        <p>Client: {{ .Params.client }}</p>
        {{ end }}

        {{ if .Params.collaborators }}
        <p>Collaborators: {{ .Params.collaborators }}</p>
        {{ end }}

        {{ if .Params.year }}
        <p>Year: {{ .Params.year }}</p>
        {{ end }}

      </div>
    </div>

    <div class="project-gallery fadeload">
      {{ partial "gallery" . }}
    </div>
  </section>

  {{ with .GetPage (print "/content/" $nextProjectRef.next) }}
  <div class="columns is-multiline next-container">
    <div class="column is-6 is-offset-3">
      <div class="next"><a href="{{ .RelPermalink }}">Next Project</a></div>
    </div>
  </div>
  {{ end }}

</main>
<script src="/js/project.js"></script>

{{ end }}

{{ define "footer" }}
{{ partial "footer" . }}
{{ end }}
