{{ define "header" }}
{{ partial "header" (dict "context" . "class" "project") }}
{{ end }}

{{ define "main" }}
<main>
  <section class="container">
    <h2 class="title">{{ .Title }}</h2>
    {{ .Content }}

    <div class="details">
      <p>Year: {{ .Date.Format "2006" }}</p>
      <p>Client: {{ .Params.client }}</p>

      {{ if (isset .Params "collaborators") }}
      <p>Collaborators: {{ .Params.collaborators }}</p>
      {{ end }}
    </div>

    <div class="gallery">
      {{ range .Params.gallery }}
      <img style="width: 300px" src="{{ .image }}" alt="{{ .title }}" class="{{ .layout }}">
      {{ end }}
    </div>
  </section>
</main>
<script src="/js/project.js"></script>

{{ end }}
