html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: "Untitled Sans";
  src: url(/fonts/untitled-sans-web-regular.woff2) format("woff2"), 
    url(/fonts/untitled-sans-web-regular.woff) format("woff");
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


@keyframes fadeout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes line {
  0% {
    height: 0%;
  }
  100% {
    height: 100%;
  }
}

.line{
  animation: line 1.5s forwards;
  -webkit-animation: line 1.5s forwards;
}

.fadeout{
  animation: fadeout 1s forwards;
  -webkit-animation: fadeout 1s forwards;
}

.fadein{
  animation: fadein 1s forwards;
  -webkit-animation: fadein 1s forwards;
}

.fadeload{
  animation: fadein 3s .5s forwards;
  -webkit-animation: fadein 3s .5s forwards;
  opacity: 0;
}

::selection {
  background: #ffc525;;
}

html {
  cursor: none;
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: "Untitled Sans", Arial, Helvetica, sans-serif;
  margin: 0 auto 0 auto;
  background: #fcfbf4;
  cursor: none;
}

a {
  color: black;
  text-decoration: none;
  cursor: none;
  border-bottom: 2px solid transparent;
  transition: border-bottom .5s;
}

a:hover {
  border-bottom: 2px solid black;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  z-index: 1;
  width: 100%;
  padding: 40px 0 0 40px;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
}

.page-header {
  display: flex;
  justify-content: flex-start;
}

.page-nav {
  display: flex;
  justify-content: flex-start;
}

.nav-item a {
  transition: border-bottom .5s;
  border-bottom: 2px solid transparent;
  white-space: nowrap;
  overflow: hidden;
}

.nav-item a:hover, .nav-item.active a {
  border-bottom: 2px solid black;
}

.nav-item {
  margin-right: 40px;
}

div.home {
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.home svg {
  max-width: 550px;
  height: 130px;
  animation: fadein 1s .5s forwards;
  -webkit-animation: fadein 1s .5s forwards;
  opacity: 0;
  padding: 0 70px 0 70px;
}

.logo {
  display: flex;
  justify-content: flex-end;
  padding-right: 40px;
}

.logo svg {
  width: 120px;
  height: 30px;
}

.logo a:hover{
  border-bottom: 0px;
}

.container {
  margin: 150px auto 0 auto;
  max-width: 750px;
  padding: 0 40px 0 40px;
  -webkit-animation: fadein 2.5s .5s forwards;
  animation: fadein 2.5s .5s forwards;
  opacity: 0;
}

.index-gallery {
  margin-top: 100px;
}

.index-gallery .caption {
  color: transparent;
}

.index-gallery figure:hover > .caption,
.index-gallery div div div figure:hover > .caption{
  color: black;
}

.index-padding{
  padding: 0 20px 0 20px;
}

/* story */

.story-bg {
  background: #818365;
}

.line-container {
  position: fixed;
  top: 0;
  left: 50%;
  height: 100vh;
  z-index: -1;
}

.story-line {
  width: 1px;
  position: relative;
  text-align: center;
}

/* info */

.info-bg {
  background: rgb(206, 163, 136);
}

.info-line {
  width: 1px;
  position: relative;
  text-align: center;
}

h5 {
  margin-bottom: 20px;
  font-size: 18px;
}

#services {
  text-align: center;
}

#contact,
#collaborators {
  text-align: center;
  padding-top: 70px;
}

#services p,
#collaborators p,
#contact p{
margin-bottom: 20px;
font-size: 18px;
}

.sub-nav {
  font-size: 18px;
  padding-bottom: 60px;
  display: flex;
  justify-content: space-between;
}

.flex {
  flex: 1;
}

.align-right {
  text-align: right;
}

div.info-details {
  text-align: center;
  margin-top: 50px;
}

.info-details {
  font-size: 18px;
  margin-bottom: 50px;
}

.info-details p {
  margin: 20px 0 40px 0;
}

.scroll {
  font-size: 18px;
  position: fixed;
  bottom: 0;
  padding: 0 0 39px 40px;
  transition: color 1s;
}

.arrow {
  margin-left: 15px;
  margin-top: 2px;
}

.arrow::before {
  border-style: solid;
  border-width: 2px 2px 0 0;
  content: '';
  display: inline-block;
  height: 14px;
  left: 5px;
  top: 5px;
  vertical-align: top;
  width: 14px;
  transform: rotate(135deg);
}

.arrow::after {

}


/* selected works */

.selected-bg {
  background: #8a7244;
}

.selected-line {
  width: 1px;
  height: 100%;
  position: relative;
  text-align: center;
}

section.selected {
  text-align: center;
  margin-bottom: 50px;
}

section.selected h3 {
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  margin: 0;
}

section.selected ul {
  padding: 0;
  margin: 0;
  font-size: 24px;
  line-height: 34px;
}

section.selected li {
  list-style-type: none;
}

section.selected li:last-child {
  margin-bottom: 20px;
}

section.selected a{
  border-bottom: 2px solid transparent;
  transition: border-bottom .5s;
}

section.selected a:hover {
  border-bottom: 2px solid black;
}


#description-list {
  width: 100%;
  background: #8a7244;
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: center;
  display: none;
}

.description {
  padding: 20px 20px 0 30px;
}

/* projects */

h2 {
  pointer-events: none;
  font-weight: normal;
  font-size: 24px;
  text-align: center;
  margin: 130px 0 0 0;
  position: sticky;
  top: 40px;
  transition: font-size 0.25s;
  z-index: 100;
  -webkit-animation: fadein 1s .5s forwards;
  animation: fadein 1s .5s forwards;
  opacity: 0;
}

.project-container {
  margin-top: 80px;
  font-size: 18px;
}

p {
  margin: 0 0 20px 0;
  font-size: 18px;
}

.project {
  z-index: 1;
  background: #fcfbf4;
}


.scrolled {
  font-size: 18px;
}

.details {
  margin: 80px 0 80px 0;
  text-align: center;
}

.details p {
  margin-bottom: 0;
}

.gallery {
  padding: 0 40px 0 40px;
  margin-left: 0;
  margin-right: 0;
}

.project-image {
  margin-bottom: 60px;
  object-fit: cover;
  /* -webkit-animation: fadein 2s 1.5s forwards;
  animation: fadein 2s 1.5s forwards;
  opacity: 0; */
}

.caption {
  padding-top: 10px;
  font-size: 16px;
  line-height: 20px;
}

blockquote {
  font-size: 18px;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 30px;
}

.padding {
  padding: 20px;
}

.next-container {
  padding: 0 40px 0 40px;
  margin-left: 0;
  margin-right: 0;
}

.next {
  text-align: center;
  font-size: 16px;
  border-top: 2px solid black;
  padding: 20px 0 0 0;
}

.landscape {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}


.cursor {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  background: #282829;
  height: 24px;
  width: 2px;
  pointer-events: none;
  z-index: 100;
}

.cursor:after {
  background: #282829;
  content: "";
  height: 2px;
  left: -12px;
  position: absolute;
  top: 11px;
  width: 24px;
}

footer {
  font-size: 16px;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  margin: 100px auto 40px auto;
  max-width: 750px;
  padding: 0 40px 0 40px;
  -webkit-animation: fadein 2.5s .5s forwards;
  animation: fadein 2.5s .5s forwards;
  opacity: 0;
}

.mobile-menu {
  display: none;
}

.menu-background {
  display: none;
}

.mobile-nav {
  display: none;
}

@media (min-width: 1500px) {

  .home svg {
    max-width: 650px;
    height: 130px;
    animation: fadein 1s .5s forwards;
    -webkit-animation: fadein 1s .5s forwards;
    opacity: 0;
    padding: 0 70px 0 70px;
  }

  .container-full {
    max-width: 1750px;
    margin: 150px auto 0 auto;
  }

  blockquote {
  padding: 0 50px 0 50px;
}

}

@media (max-width: 1025px) {

  .nav-item:first-child {
    margin-right: 40px;
  }
}

@media (max-width: 850px) {

  .mobile-nav {
    display: block;
  }

  .mobile-menu {
    display: flex;
    z-index: 2;
  }

  .mobile-menu p {
    margin-bottom: 0;
  }

  hr {
    margin-bottom: 5px;
    width: 30px;
    margin-right: 15px;
    align-items: center;
    border: 1px solid black;
    transition: transform 1s;
  }

  hr:last-child {
    margin-bottom: 0px;
  }

  hr.top {
    transform: rotate(45deg) translate(4.5px, 10px);
  }

  hr.bottom {
    display: none;
  }

  hr.middle {
    transform: rotate(-45deg) translate(-5px, -1px);
  }

  .nav-item {
    display: none;
  }

  .menu-background {
    background: #fcfbf4;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    display: none;
  }

  .mobile-item{
    text-align: center;
    font-size: 24px;
    line-height: 34px;
  }

  .scroll {
    padding: 0 0 20px 20px;
    font-size: 14px;
  }

  p,
  h4,
  h5,
  .caption,
 #description-list,
 .sub-nav,
 #services p,
 #collaborators p,
 #contact p {
    font-size: 14px;
  }

  .sub-nav {
    display: block;
    text-align: center;
    padding-bottom: 50px;
  }

  .sub-nav div {
    margin-bottom: 5px;
  }

  .sub-nav .align-right {
    text-align: center;
  }

  #collaborators {
    padding-top: 50px;
  }

  header {
    font-size: 14px;
    padding: 20px 0 10px 20px;
    position: fixed;
    align-items: center;
  }

  .home svg {
    max-width: 400px;
    margin-top: -40px;
  }

  .logo-container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    z-index: 1;
  }

  .logo {
    padding-right: 20px;
  }

  .logo svg{
    height: 15px;
    width: inherit;
  }

  .logo a,
  .logo a:hover {
    border-bottom: 0px solid transparent !important;
    transition: none !important;
  }

  .index-gallery {
    margin-top: 80px;
  }

  .index-gallery .caption {
    color: black;
  }

  .landscape-side-image figure:nth-child(even),
  .portrait-side-full-image figure:nth-child(even),
  .portrait-side-image figure:nth-child(even),
  .portrait-landscape-image figure:nth-child(even) {
    margin-left: 30%;
  }

  .index-gallery .landscape-side-image figure:nth-child(odd),
  .index-gallery .portrait-side-full-image figure:nth-child(odd),
  .index-gallery .portrait-side-image figure:nth-child(odd),
  .index-gallery .portrait-landscape-image figure:nth-child(odd),
  .index-gallery .portrait-image {
    margin-right: 30%;
  }

  .project-image {
    margin-bottom: 40px;
  }

  .project-gallery .portrait-image,
  .project-gallery .portrait-quote-image  {
      margin: 0 50px 35px 50px;
  }

  .project-gallery .landscape-side-image figure {
    margin: 0;
  }

  .project-gallery .caption {
    font-size: 12px;
  }

  .mobile-padding {
    margin-top: 40px;
  }

  .column {
    padding: 0;
  }

  .gallery {
    padding: 0 20px 0 20px;
  }

  section.selected h3 {
    font-size: 14px;
  }

  section.selected a {
    font-size: 18px;
  }

  section.selected ul {
    line-height: 25px;
  }

  .container {
    padding: 0 20px 0 20px;
    margin-top: 100px;
  }

  .info-details {
    margin-top: 40px;
  }

  .info-details p {
    margin-top: 10px;
  }

  h2.title {
    font-size: 14px;
    padding-left: 20px;
    margin-top: 70px;
    position: inherit;
  }

  .project-container {
    margin-top: 20px;
    font-size: 14px!important;
  }

  .details p {
    font-size: 14px;
  }

  .details {
    margin: 40px 0 60px 0;
  }

  .next {
    font-size: 14px;
  }

  .next-container {
    padding: 30px 20px 0 20px;
  }

  blockquote p{
  padding: 20px 0px 25px 0px;
  }

  footer {
    font-size: 14px;
    display: block;
    margin-top: 70px;
    margin-bottom: 20px;
    text-align: center;
  }

  .align-right {
    text-align: center;
  }

  .columns.is-variable.is-8 {
    --columnGap: 0rem;
}

}
