<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    {{ block "title" . }}
    {{ .Site.Title }}
    {{ end }}
  </title>
  <link rel="stylesheet" href="{{ "css/styles.css" | relURL }}">
  <link rel="icon" href="{{ "img/favicon.png" | relURL }}" type="image/png" sizes="16x16">
</head>

<body>
  {{ block "header" . }}
  <header>

    <nav>
      <a href="/selected-works/">Selected Works</a>
      <a href="/info/">Info & Contact</a>
    </nav>

  </header>
  {{ end }}

  {{ block "main" . }}
  {{ .Content }}
  {{ end }}

  {{ block "footer" . }}{{ end }}
</body>

</html>