<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="Description" content="{{ .Site.Data.seo.description }}">
  <title>
    {{ block "title" . }}
    {{ .Site.Title }}
    {{ end }}
  </title>
  {{ $style := resources.Get "scss/main.scss" | resources.ToCSS (dict "outputStyle" "compressed") | fingerprint }}
  <link rel="icon" href="{{ "images/favicon.png" | relURL }}" type="image/png" sizes="16x16">
  <link rel="stylesheet" href="{{ $style.RelPermalink }}">
  <link rel="stylesheet" href="{{ "css/styles.css" | relURL }}">
</head>

<body class="{{ block "body-class" . }}{{ end }}">
  <div class="cursor"></div>
  {{ block "header" . }}
  {{ partial "header" (dict "context" . ) }}
  {{ end }}

  {{ block "main" . }}
  {{ .Content }}
  {{ end }}

  {{ block "footer" . }}{{ end }}
  <script src="/js/cursor.js"></script>
  <script src="/js/lazysizes.min.js" async=""></script>
  <script src="/js/mobile-menu.js"></script>
</body>

</html>
