{{ define "body-class" }}info-bg{{ end  }}

{{ define "header" }}
{{ partial "header" (dict "context" . ) }}
{{ end }}

{{ define "main" }}
<main>
  <div class="line-container">
    <div class="info-line line"></div>
  </div>

  <section class="container">

    <div id="services">
      <h5>Services</h5>
      {{ .Params.services | markdownify }}
    </div>

    <div id="contact">
      <h5>Contact</h5>
      <p>{{ .Params.contact | markdownify }}</p>
    </div>

    <div id="collaborators">
      <h5>Collaborators</h5>
      <p>{{ .Params.collaborators | markdownify }}</p>
    </div>
  </section>

  <div class="scroll">
    <a href="#collaborators">
      Scroll
    </a>
    <span class="arrow"></span>
  </div>

</main>
{{ end }}

{{ define "footer" }}
{{ partial "footer" . }}
{{ end }}