{{ define "body-class" }}info-bg{{ end  }}

{{ define "header" }}
{{ partial "header" (dict "context" . ) }}
{{ end }}

{{ define "main" }}
<main>
  <div class="info-line-container">
    <div class="info-line"></div>
  </div>

  <section class="container">

    <div class="sub-nav">
      <div class="flex">Story</div>
      <div>Services</div>
      <div class="flex align-right">Collaborators</div>
    </div>

    {{ .Params.body | markdownify }}
  </section>
</main>
{{ end }}

{{ define "footer" }}
{{ partial "footer" . }}
{{ end }}
