{{ define "body-class" }}info-bg{{ end  }}

{{ define "header" }}
{{ partial "header" (dict "context" . ) }}
{{ end }}

{{ define "main" }}
<main>
  <div class="info-line-container">
    <div class="info-line"></div>
  </div>

  <section class="container information-text">

    <div class="sub-nav flex">
      <div class="flex">Story</div>
      <a href="#services">Services</a>
      <div class="flex align-right"><a href="#collaborators">Collaborators</a></div>
    </div>

    {{ .Params.body | markdownify }}
  </section>
</main>
{{ end }}

{{ define "footer" }}
{{ partial "footer" . }}
{{ end }}