{{ define "body-class" }}info-bg{{ end  }}

{{ define "header" }}
<header>
  <nav>
    <a href="/selected-works/">Selected Works</a>
    <a href="/info/">Information</a>
  </nav>

  <div class="logo">
    <a href="/">
      <img src="/images/etched-logo.svg" alt="Etched Projects" />
    </a>
  </div>
</header>
{{ end }}
{{ define "main" }}
<main>
  <div class="info-line-container">
    <div class="info-line"></div>
  </div>
  <section class="container">
    {{ .Content }}
  </section>

  <div class="details">
    <p>Services: <div>{{ .Params.services | markdownify }}</div></p>
    <p>Contact: <div>{{ .Params.contact | markdownify }}</div></p>
    <p>Collaborators: <div>{{ .Params.collaborators | markdownify }}</div></p>
  </div>
</main>
{{ end }}
