<div class="gallery columns is-multiline">
  {{ range . }}

  {{ if eq .template "portrait-image" }}

  <div class="column is-4 is-offset-4 project-image portrait">

    <img style="width: 100%" data-src="{{ .image }}" data-sizes="auto"
      alt="{{ .alt }}" class="lazyload {{ .template }}">
    {{ with .caption }}<span class="caption">{{ . }}</span>{{ end }}
  </div>

  {{ else if eq .template "landscape-image" }}

  <div class="column is-6 is-offset-3 project-image landscape">
    <img style="width: 100%" data-src="{{ .image }}" alt="{{ .alt }}"
      class="lazyload {{ .template }}">
    {{ with .caption }}<span class="caption">{{ . }}</span>{{ end }}
  </div>

  {{ else if eq .template "landscape-full-image" }}

  <div class="column is-8 is-offset-2 project-image landscape-full">
    <img style="width: 100%" data-src="lazyload {{ .image }}" alt="{{ .alt }}"
      class="{{ .template }}">
    {{ with .caption }}<span class="caption">{{ . }}</span>{{ end }}
  </div>

  {{ else if eq .template "landscape-side-image" }}

  <div class="column is-8 is-offset-2 project-image landscape-side">
    <div class="column">
      <div class="columns is-mobile">
        <div class="column">
          <div class="bd-notification is-info">
            <img style="width: 100%" data-src="{{ .image }}" alt="{{ .alt }}"
              class="lazyload {{ .template }}">
          </div>
        </div>
        <div class="column">
          <div class="bd-notification is-info">
            <img style="width: 100%" data-src="{{ .image }}" alt="{{ .alt }}"
              class="lazyload {{ .template }}">
          </div>
        </div>
      </div>
    </div>
  </div>

  {{ else if eq .template "portrait-side-image" }}

  <div class="column is-6 is-offset-3 project-image portrait-side">
    <div class="column">
      <div class="columns is-mobile">
        <div class="column">
          <div class="bd-notification is-info">
            <img style="width: 100%" data-src="{{ .image }}" alt="{{ .alt }}"
              class="lazyload {{ .template }}">
          </div>
        </div>
        <div class="column">
          <div class="bd-notification is-info">
            <img style="width: 100%" data-src="{{ .image }}" alt="{{ .alt }}"
              class="lazyload {{ .template }}">
          </div>
        </div>
      </div>
    </div>
  </div>

  {{ else if eq .template "portrait-quote-image" }}

  <div class="column is-6 is-offset-3 project-image portrait-quote">
    <div class="column">
      <div class="columns is-mobile">
        <div class="column">
          <div class="bd-notification is-info">
            <img style="width: 100%" data-src="{{ .image }}" alt="{{ .alt }}"
              class="lazyload {{ .template }}">
          </div>
        </div>
        <div class="column">
          <div class="bd-notification is-info">
            <img style="width: 100%" data-src="{{ .image }}" alt="{{ .alt }}"
              class="lazyload {{ .template }}">
          </div>
        </div>
      </div>
    </div>
  </div>

  {{ else if eq .template "landscape-portrait-bottom-image" }}

  <div class="column is-6 is-offset-3 project-image landscape">
    TODO: Landscape portrait bottom
  </div>

  {{ else }}

  <div style="color:red" class="column is-6 is-offset-3 project-image">
    Unsupported layout: {{ .template }}
  </div>

  {{ end }}

  {{ end }}
</div>
