<div class="gallery columns is-multiline">
  {{ range . }}

  {{ if eq .template "portrait-image" }}

  {{ $image := resources.Get .image }}
  {{ $smallImage := $image.Fill "20x Center" }}

  <div class="column is-4 is-offset-4 project-image portrait">

    <img style="width: 100%" src="data:image/jpeg;base64,{{ $smallImage.Content | base64Encode  }}"
      data-src="{{ $image.RelPermalink }}" data-sizes="auto" alt="{{ .alt }}" class="lazyload {{ .template }}">
    {{ with .caption }}<span class="caption">{{ . }}</span>{{ end }}
  </div>

  {{ else if eq .template "landscape-image" }}

  {{ $image := resources.Get .image }}
  {{ $smallImage := $image.Fill "20x Center" }}

  <div class="column is-6 is-offset-3 project-image landscape">
    <img style="width: 100%" src="data:image/jpeg;base64,{{ $smallImage.Content | base64Encode  }}"
      data-src="{{ $image.RelPermalink }}" alt="{{ .alt }}" class="lazyload {{ .template }}">
    {{ with .caption }}<span class="caption">{{ . }}</span>{{ end }}
  </div>

  {{ else if eq .template "landscape-full-image" }}

  {{ $image := resources.Get .image }}
  {{ $smallImage := $image.Fill "20x Center" }}

  <div class="column is-8 is-offset-2 project-image landscape-full">
    <img style="width: 100%" src="data:image/jpeg;base64,{{ $smallImage.Content | base64Encode  }}"
      data-src="{{ $image.RelPermalink }}" alt="{{ .alt }}" class="lazyload {{ .template }}">
    {{ with .caption }}<span class="caption">{{ . }}</span>{{ end }}
  </div>

  {{ else if eq .template "landscape-side-image" }}

  {{ $imageLeft := resources.Get (index . "image-left") }}
  {{ $largeImageLeft := $imageLeft.Fill "600x450 Center" }}
  {{ $smallImageLeft := $imageLeft.Fill "20x Center" }}
  {{ $imageRight := resources.Get (index . "image-right") }}
  {{ $largeImageRight := $imageRight.Fill "600x450 Center" }}
  {{ $smallImageRight := $imageRight.Fill "20x Center" }}

  <div class="column is-8 is-offset-2 project-image landscape-side">
    <div class="column">
      <div class="columns is-variable is-3-mobile is-3-tablet is-3-desktop is-3-widescreen is-3-fullhd">
        <div class="column">
          <div class="bd-notification is-info">
            <img style="width: 100%" src="data:image/jpeg;base64,{{ $smallImageLeft.Content | base64Encode  }}"
              data-src="{{ $largeImageLeft.RelPermalink }}" alt="{{ .alt }}" class="lazyload {{ .template }}">
            {{ with .caption }}<span class="caption">{{ . }}</span>{{ end }}
          </div>
        </div>
        <div class="column">
          <div class="bd-notification is-info mobile-padding">
            <img style="width: 100%" src="data:image/jpeg;base64,{{ $smallImageRight.Content | base64Encode  }}"
              data-src="{{ $largeImageRight.RelPermalink }}" alt="{{ .alt }}" class="lazyload {{ .template }}">
          </div>
        </div>
      </div>
    </div>
  </div>

  {{ else if eq .template "portrait-side-image" }}

  {{ $imageLeft := resources.Get (index . "image-left") }}
  {{ $largeImageLeft := $imageLeft.Fill "300x400 Center" }}
  {{ $smallImageLeft := $imageLeft.Fill "20x Center" }}
  {{ $imageRight := resources.Get (index . "image-right") }}
  {{ $largeImageRight := $imageRight.Fill "300x400 Center" }}
  {{ $smallImageRight := $imageRight.Fill "20x Center" }}

  <div class="column is-6 is-offset-3 project-image portrait-side">
    <div class="column">
      <div class="columns is-variable is-desktop">
        <div class=" column">
          <div class="bd-notification is-info">
            <img style="width: 100%" src="data:image/jpeg;base64,{{ $smallImageLeft.Content | base64Encode  }}"
              data-src="{{ $imageLeft.RelPermalink }}" alt="{{ .alt }}" class="lazyload {{ .template }}">
            {{ with .caption }}<span class="caption">{{ . }}</span>{{ end }}
          </div>
        </div>
        <div class="column">
          <div class="bd-notification is-info mobile-padding">
            <img style="width: 100%" src="data:image/jpeg;base64,{{ $smallImageRight.Content | base64Encode  }}"
              data-src="{{ $imageRight.RelPermalink }}" alt="{{ .alt }}" class="lazyload {{ .template }}">
          </div>
        </div>
      </div>
    </div>
  </div>

  {{ else if eq .template "portrait-quote-image" }}

  {{ $image := resources.Get .image }}
  {{ $largeImage := $image.Fill "300x400 Center" }}
  {{ $smallImage := $image.Fill "20x Center" }}

  <div class="column is-6 is-offset-3 project-image portrait-quote">
    <div class="column">
      <div class="columns is-variable is-desktop">
        <div class="column">
          <div class="bd-notification is-info">
            <blockquote>{{ .quote }}</blockquote>
          </div>
        </div>
        <div class="column">
          <div class="bd-notification is-info mobile-padding">
            <img style="width: 100%" src="data:image/jpeg;base64,{{ $smallImage.Content | base64Encode  }}"
              data-src="{{ $image.RelPermalink }}" alt="{{ .alt }}" class="lazyload {{ .template }}">
          </div>
        </div>
      </div>
    </div>
  </div>

  {{ else if eq .template "portrait-full-image" }}

  {{ $imageLeft := resources.Get (index . "image-left") }}
  {{ $largeImageLeft := $imageLeft.Fill "300x400 Center" }}
  {{ $smallImageLeft := $imageLeft.Fill "20x Center" }}
  {{ $imageRight := resources.Get (index . "image-right") }}
  {{ $largeImageRight := $imageRight.Fill "300x400 BottomRight" }}
  {{ $smallImageRight := $imageRight.Fill "20x BottomRight" }}

  <div class="column is-10 is-offset-1 project-image portrait-full">
    <div class="column">
      <div class="columns is-variable is-8 is-desktop">
        <div class=" column">
          <div class="bd-notification is-info">
            <img style="width: 100%" src="data:image/jpeg;base64,{{ $smallImageLeft.Content | base64Encode  }}"
              data-src="{{ $imageLeft.RelPermalink }}" alt="{{ .alt }}" class="lazyload index-padding {{ .template }}">
          </div>
        </div>
        <div class="column">
          <div class="bd-notification is-info mobile-padding">
            <img style="width: 100%" src="data:image/jpeg;base64,{{ $smallImageRight.Content | base64Encode  }}"
              data-src="{{ $imageRight.RelPermalink }}" alt="{{ .alt }}" class="lazyload index-padding {{ .template }}">
          </div>
        </div>
      </div>
    </div>
  </div>

  {{ else if eq .template "landscape-portrait-bottom-image" }}

  <div class="column is-6 is-offset-3 project-image landscape">
    TODO: Landscape portrait bottom
  </div>

  {{ else }}

  <div style="color:red" class="column is-6 is-offset-3 project-image">
    Unsupported layout: {{ .template }}
  </div>

  {{ end }}

  {{ end }}
</div>