<header class="{{ .class }}">

  <div class="mobile-menu">
    <div>
      <hr id="top" class="fadein">
      <hr id="middle" class="fadein">
      <hr id="bottom" class="fadein">
    </div>
    <p class="menu-text fadein">Menu</p>
  </div>

  <div class="page-nav{{ if .context.IsHome }} fadeload page-header{{ end }}">
    {{ $currentPage := .context }}
    {{ range .context.Site.Menus.main }}

    <div
      class="nav-item{{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} active{{end}}">
      <a href="{{ .URL }}" title="{{ .Title }}">{{ .Name }}</a>
    </div>

    {{ end }}
  </div>

  {{ if (not .context.IsHome) }}
  <div class="logo-container">
    <div class="logo">
      <a href="/" class="not-transition">
        {{ partial "logo" (dict "color" "#282829") }}
      </a>
    </div>
  </div>
  {{ end }}

  <div class="menu-background fadein">
    <div class="mobile-nav">
      {{ $currentPage := .context }}
      {{ range .context.Site.Menus.main }}

      <div
        class="mobile-item{{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} active{{end}}">
        <a href="{{ .URL }}" title="{{ .Title }}">{{ .Name }}</a>
      </div>

      {{ end }}
    </div>
  </div>

</header>
