<header class="{{ if .context.IsHome }}  {{ end }}">
  <div class="page-nav{{ if .context.IsHome }} fadeload page-header{{ end }}">
    {{ $currentPage := .context }}
    {{ range .context.Site.Menus.main }}

    <div
      class="nav-item{{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} active{{end}}">
      <a href="{{ .URL }}" title="{{ .Title }}">{{ .Name }}</a>
    </div>
    {{ end }}
  </div>


  {{ if (not .context.IsHome) }}
  <div>
    <div class="logo">
      <a href="/">
        <img src="/images/etched-logo.svg" alt="Etched Projects" />
      </a>
    </div>
  </div>
  {{ end }}
</header>