{{ $imageLeft := resources.Get (index .item "image-left") }}
{{ $smallImageLeft := $imageLeft.Resize "20x Center" }}
{{ $projectLinkLeft := .context.Site.GetPage (print "/content/" (index .item "project-link-left")) }}

{{ $imageRight := resources.Get (index .item "image-right") }}
{{ $smallImageRight := $imageRight.Resize "20x Center" }}
{{ $projectLinkRight := .context.Site.GetPage (print "/content/" (index .item "project-link-right")) }}

<div class="column is-6 is-offset-3 project-image portrait-side-image">
  <div class=" columns is-multiline is-variable is-4">

    <figure class="column is-half image">
      {{ with $projectLinkLeft }}<a href="{{ $projectLinkLeft.RelPermalink }}">{{ end }}
        <img src="data:image/jpeg;base64,{{ $smallImageLeft.Content | base64Encode  }}"
          data-src="{{ $imageLeft.RelPermalink }}" class="lazyload" alt="{{ $imageLeft.Title }}">
        {{ with $projectLinkLeft }}</a>{{ end }}

      {{ with (index .item "caption-left") }}
      <div class="caption">
        {{ . }}
      </div>
      {{ end }}
    </figure>

    <figure class="column is-half image">
      {{ with $projectLinkRight }}<a href="{{ $projectLinkRight.RelPermalink }}">{{ end }}
        <img src="data:image/jpeg;base64,{{ $smallImageRight.Content | base64Encode  }}"
          data-src="{{ $imageRight.RelPermalink }}" class="lazyload" alt="{{ $imageRight.Title }}">
        {{ with $projectLinkRight }}</a>{{ end }}

      {{ with (index .item "caption-right") }}
      <div class="caption">
        {{ . }}
      </div>
      {{ end }}
    </figure>

  </div>
</div>