{{ $image := resources.Get .item.image }}
{{ $smallImage := $image.Resize "20x" }}

<div class="column is-6 is-offset-3 project-image portrait-quote-image">
  <div class="columns is-multiline is-variable is-4 is-vcentered">

    <blockquote class="column is-half">
      <p>{{ .item.quote }}</p>
    </blockquote>

    <figure class="column is-half image">
      <img src="data:image/jpeg;base64,{{ $smallImage.Content | base64Encode  }}" data-src="{{ $image.RelPermalink }}"
        class="lazyload" alt="{{ $image.Title }}">
    </figure>

  </div>
</div>